.intro {
  display: flex;
  max-width: 900px;
  flex-direction: column;
  margin: 92px auto;
}

.intro__title {
  max-width: 840px;
  max-height: 175px;
  font-size: 54px;
  font-weight: 900;
  font-family: "Inter-black", sans-serif;
  line-height: 1.1;
  margin: 0;
}

.intro__quote {
  max-width: 740px;
  font-size: 24px;
  font-weight: 400;

  line-height: 1.2;
  margin-top: 40px;
  margin-bottom: 10px;
}

.intro__author-quote {
  max-width: 730px;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  font-size: 24px;
}

.intro__paragraph {
  max-width: 730px;
  margin: 32px 0 92px;
  font-size: 16px;

  line-height: 1.5;
}

@media screen and (min-width: 544px) and (max-width: 1024px) {
  .intro {
    margin-left: 24px;
    margin-right: 24px;
  }

  .intro__title {
    max-width: 707px;
    font-size: 45px;
  }
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .intro {
    margin-top: 62px;
    margin-left: 16px;
    max-width: 290px;
  }
  .intro__title {
    font-size: 32px;
    line-height: 1;
  }
  .intro__paragraph {
    margin-bottom: 0;
  }
}
